@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h4>Add new student</h4>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Enrollment)
  @Html.EditorFor(model => model.Enrollment)
  <input type="submit" value="Add student" />
}

<p>@Html.ActionLink("Show all students", "Index")</p>