@{
 Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student;
@using UniversityRegistrar.Models;

<h2>Student Details</h2>

<h3>Student: @Html.DisplayFor(model => model.Name)</h3>
<h3>Date of Enrollment: @Html.DisplayFor(model => model.Enrollment)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This student is not enrolled in any courses.</p>
}
else
{
  <h4>Courses</h4>
  <ul>
  @foreach(CourseStudent join in Model.JoinEntities)
  {
    <li>@join.Course.Number</li>
    @using (Html.BeginForm("DeleteJoin", "Students"))
    {
      @Html.Hidden("joinId", @join.CourseStudentId)
      <input type="submit" value="Delete" />
    }
  }
  </ul>
}

<p>@Html.ActionLink("Enroll in a course", "AddCourse", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Edit Student", "Edit", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Delete Student", "Delete", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>