@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student
@using UniversityRegistrar.Models

<h2>Edit</h2>

<h4>Edit this Student: @Html.DisplayFor(model => model.Name)</h4>

@using (@Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Enrollment)
  @Html.EditorFor(model => model.Enrollment)

  <input type="submit" value="Update" />

  <h4>Courses</h4>
  <ul>
  @foreach(CourseStudent join in Model.JoinEntities)
  {
    @Html.Hidden("courseStudentId", join.CourseStudentId)
    <li>@join.Course.Number | Status: <select name="status"><option>Ongoing</option><option>Failed</option><option>Completed</option></select></li>
    
  }
  </ul>
}


<p>@Html.ActionLink("Back to list", "Index")</p>    